.svg-alcko{
    background: url("../img/alcko.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}


.svg-blood{
    background: url("../img/blood.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-bottle{
    background: url("../img/bottle.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-erythrocyte{
    background: url("../img/erythrocyte.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-full-heart{
    background: url("../img/full-heart.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-granulocytes{
    background: url("../img/granulocytes.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-heart{
    background: url("../img/heart.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-leukocyte{
    background: url("../img/leukocyte.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-patch{
    background: url("../img/patch.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-pen{
    background: url("../img/pen.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-platelets{
    background: url("../img/platelets.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-plazma{
    background: url("../img/plazma.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-sport{
    background: url("../img/sport.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}

.svg-syringe{
    background: url("../img/syringe.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    display: block;
}